body{
background-color: rgb(221, 255, 244);
background-repeat: no-repeat;
background-position-y: 80px;
background-position-x: 800px;


}
header{

	background-color: rgb(40, 184, 189);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100px;
	color: antiquewhite;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	margin-left: -8px;
	margin-right: -8px;
	margin-top: -8px;
}

.menu{
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	margin-left: -980px;
	position: absolute;
	text-align: center;
	height: 80px;
	float: left;
}
.menu-open{
	display: none;
	cursor: pointer;
}
.menu-item, .menu-open-button {
	box-shadow: 4px 4px 2px 0 rgb(0, 67, 83);
	border: 1px solid #00acc7;
	background: rgb(0, 110, 134);
	border-radius: 100%;
	width: 80px;
	height: 80px;
	margin-left: -40px;
	position: absolute;
	color: rgb(179, 218, 255);
	font-family: fantasy;
	text-align: center;
	float: left;
	line-height: 80px;
	transform: translate3d(0, 0, 0);
	transition: transform cubic-bezier(0.34, -0.47, 0.41, 1.65) 500ms;
	
}
.menu-item{
	width: 120px;
	height: 120px;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	position: absolute;
}
.menu-open-button {
	z-index: 1;
}
.lines {
	width: 25px;
	height: 3px;
	background: #FFFFFF;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -12.5px;
	margin-top: -1.5px;
	transition: transform 200ms;
}
.line-1{
	transform: translate3d(0, -8px, 0)
}
.line-2{
	transform: translate3d(0, 0, 0)
}
.line-3{
	transform: translate3d(0, 8px, 0)
}

.menu-open:checked + .menu-open-button{
	transform: scale(0.6, 0.6);
}
.menu-open:checked + .menu-open-button .line-1{
	background: #c5dfff;
	color: rgb(35, 102, 146);
	transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu-open:checked + .menu-open-button .line-2{
	background: #c5dfff;
	color: rgb(35, 102, 146);
	transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.menu-open:checked + .menu-open-button .line-3{
	background: #c5dfff;
	color: rgb(35, 102, 146);
	transform: translate3d(0, 0, 0) rotate(-45deg);
}
.menu-open:checked + .menu-item {
	transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}
.menu-open:checked ~ .menu-item:nth-child(3){
	transform: translate3d(0, 80px, 0);
	transition: 500ms;
}
.menu-open:checked ~ .menu-item:nth-child(4){
	transform: translate3d(0, -80px, 0);
	transition: 500ms;
}
.menu-open:checked ~ .menu-item:nth-child(5){
	transform: translate3d(-80px, 0, 0);
	transition: 500ms;
}
.menu-open:checked ~ .menu-item:nth-child(6){
	transform: translate3d(80px, 0, 0);
	transition: 500ms;
}
.menu-open:checked ~ .menu-item:nth-child(7){
	transform: translate3d(100px, -100px, 0);
	transition: 1s;
}
.menu-open:checked ~ .menu-item:nth-child(8){
	transform: translate3d(-100px, 100px, 0);
	transition: 1s;
}
.menu-open:checked ~ .menu-item:nth-child(9){
	transform: translate3d(-100px, -100px, 0);
	transition: 1s;
}
.menu-open:checked ~ .menu-item:nth-child(10){
	transform: translate3d(100px, 100px, 0);
	transition: 1s;
}
button {
	overflow: hidden;
	text-align: center;
	float: left;
	text-decoration: none;
}
button:hover{ font-size: 30px; color: rgb(255, 255, 255); background-color: rgb(24, 73, 105);  }
button > img{
	height: 80px;
	width: 80px;
	left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
    margin-left: -10px;
}


.style {
	
	
    top : 600px;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	position: absolute;
	text-align: bottom;
	height: 0 px;
	background-color: rgb(32, 144, 148);
	display: inherit;
	
}


.modal,.modal1,.modal2,.modal3{

	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, .5);

}
.modal-content{

	background-color: #ffffff;
	margin: 20% auto;
	padding: 20%;
	width: 40%;
	margin-top: 2%;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .2),0 7px 20px 0 rgba(0, 0, 0, .17);
	animation-name: modalopen;
	animation-duration: 2s;

}
.closebtn, .closebtn1 , .closebtn2 , .closebtn3{

	color: #ccc;
	float: right;
	font-size: 30px;
}
.closebtn, .closebtn1 , .closebtn2 , .closebtn3:hover,.closebtn, .closebtn1 , .closebtn2 , .closebtn3:focus{

	color: #000;
	text-decoration: none;
	cursor: pointer;
}

@keyframes modalopen{

	from {opacity: 0;}
	to {opacity: 1;}
}